body {
    background-color:white;
    }
/*br {
    line-height: 100px;
}*/
#Menu {
    position:relative;
    top: 50px;
    left: 3%;
    width:150px;
    background-color:#eee;
    border-style:groove;
    line-height: 30px;
    }

#Header {
    position: relative;
    font-size: 4em;
    top: 20px;
    left:3%;
    width:92%;
    padding: 1%;
	text-align: center;
    background-color:#AAAAAA;
    border: 1px solid;
    }

#content {
    position: absolute;
    top: 150px; /*OK*/
    left: 300px;
}